@import "./abstracts/_reset.scss";

.maintenance {
    background-color: #313a45;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maintenance__message {
    border: 1px solid #02c4c4;
    border-radius: 5px;
    padding: 3rem;
    color: #8b96a3;
    text-align: center;

    > * {
        margin: 1em 0;
    }
}

.btn {
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.btn--cta {
    display: inline-block;
    background-color: #02c4c4;
    color: #fff;
}
